body {
    cursor: pointer;
}

.robot2 {
    display: none;
    width: 80vw;
}

.profile {
    border: 10px solid rgb(119, 168, 87);
    background-color: rgb(119, 168, 87);
    border-radius: 50%;
    width: 80%;
}

.profile:hover {
    transform: scale(1.05);
    transition: .2s;
}


.stars, i {
    color: rgb(119, 168, 87);
    size: 1rem;
}

.footer {
    height: 20vh;
    background: darkgrey;
   }

.copy {
    text-align: right;
    font-size: 1.4rem;
    color: rgb(34, 78, 5);;
    padding: 3rem 2rem 3rem 1rem;
    
}

em {
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
}


.bg-color {
    /* background-color: rgba(119, 168, 87, .5);  */
    background-color: #ddd;
}


.card {
    overflow: hidden;
    border: 3px solid silver;
}

.card:hover {
    transform: scale(1.05);
    transition: .2s;
}



#projects {
    margin-top: -3rem;
    padding-top: 3rem;
    background: linear-gradient(white, #dddddd, rgba(119, 168, 87, .7));
}


#robot-mega {
    margin-bottom: .6rem;
}


  /* // Extra small devices (portrait phones, less than 576px) */
  @media only screen and (max-width: 575.98px) {
    #robot-phone {
        display: none;
     }
     .contact-info {
       padding-left: 3rem;
     }
  }
  
/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) { 
      

     
  } 
  
  /* // Medium devices (tablets, less than 992px) */
  @media only screen and (max-width: 991.98px) { 
    .robot1 {
        display: none
        }    
        
    .robot2 {
        display: flex;
        }
   
   
        #robot-mega {
            display: none;
            
        }
  };
  
 

 